.ios, .md {

  page-home {

    .scroll-content {
      background-color: map-get($colors, secondary);
      display: flex !important;
      justify-content: center;
    }

    .completed{
      background: gray;
      font-style: italic;
      text-decoration: line-through;
    }

    ion-list {
      width: 90%;
    }

    ion-item {
      margin-top: 20px;
      border-radius: 0px;
      background: map-get($colors, favorite);
      color: white;
    }

    ion-item {
      border: none !important;
      font-weight: bold !important;
    }

    .power {
      color: map-get($colors, danger);
    }

    .add {
      color: map-get($colors, edit);
    }

  }

}
